
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img-fluid{
    width: 100%;
    border-radius: 15px;
  }
.content{
    display: flex;
}
.carousel{
    size: 640px;
    margin-bottom: 20px;
}
.paragraph{
    background-color: blue;
}
.review-pictures{
    height: 99px;
    width: 100px;
    border-radius: 70px;
}
.color-context{
    background-color: blue;
}
a {
    color: #777;
    text-decoration: none;
}
.logos{
margin-bottom: 30px;
margin-top: 30px;
}
.review-container{
    background-color:#083434;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.review{
    color: white;
    margin-top: 20px;
}
.reviewer-name{
    color: white;
}
.section{
    padding: 7 rem 0;
}
.custom-navmenu{
    background-color: #f0ecfc;
    ;
}
.custom-navmenu .custom-menu li {
    margin-bottom: 0;
    font-size: 20px;
}
.custom-navmenu .custom-menu, .custom-navmenu .custom-menu li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.p-4{
    background-color: #f0ecfc;
}
.navbar-dark{
    background-color: transparent;
}
.title{
    padding-right: 20px;
}
.iframe{
    height: 100%;
    width: 300px;
    border:0;
}
button{
    background-color: white;
    border-radius: 13px;
    border: 1 solid black;
    font-size: 20px;
}
.buttons{
    display: flex;
    align-items: flex-start;
}
.service-list{
    margin-top: 30px;
}